/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.bodybg{
     -fx-background-image: url('pexels-tembela-bohle-1884584.jpg');
     -fx-background-size: 100.0% 100.0%;    
  }

 .button{
 	-fx-background-radius: 30.0;
 	-fx-background-color: gold;
 }
 .button:hover {
        -fx-scale-y: 1.5;
        -fx-scale-x: 1.5;
        -fx-background-color: gold;
}

.label{
	-fx-font-family : 'Franklin Gothic Heavy' ;
	-fx-font-size : 30.0 ;
	-fx-alignment : bottom-left ;
	-fx-text-fill : gold ;	 
}

.password-field{
	-fx-font-size : 16.0 ;
	-fx-text-inner-color: gold;
}

.text-field{
	-fx-font-size : 16.0 ;
	-fx-text-inner-color: gold;
}

.message-connct{
	-fx-font-family : 'Didot' ;
	-fx-font-size : 18.0 ;
	-fx-alignment : bottom-center ;
	-fx-text-fill : red ;
}

.loader{
	-fx-background-radius: 30.0;
	-fx-font-family : 'Franklin Gothic Heavy' ;
	-fx-font-size : 30.0 ;
 	-fx-background-color: red;
 	-fx-alignment : center-center ;
}

